<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VNTSellGold.Properties.Settings.VNTSellGoldConnectionString"
            connectionString="Data Source=.;Initial Catalog=VNTSellGold;Persist Security Info=False;User ID=SellGold"
            providerName="System.Data.SqlClient" />
        <add name="VNTSellGold.Properties.Settings.VNTSellGoldConnectionString1"
            connectionString="Data Source=.;Initial Catalog=VNTSellGold;Persist Security Info=True;User ID=Sa;Password="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>